*~
*.iml
*.log
*.sw?
*.swp
*jar
.DS_Store
.cljs_rhino_repl
.idea
.nrepl*
.nrepl-port
.repl
checkouts
classes
compiled
out
resources/database
target
.cpcache
.clj-kondo/.cache

node_modules/
.shadow-cljs/
node_modules/
package-lock.json
resources/public/js/

data/schema
data/testing/old
data/testing/messages
data/testing/spreadsheets
