*~
*.iml
*.log
*.sw?
*.swp
*jar
.DS_Store
.cljs_rhino_repl
.idea
.nrepl*
.nrepl-port
.repl
checkouts
classes
compiled
out
resources/database
target
.cpcache
.clj-kondo/.cache
.clj-kondo/babashka
.clj-kondo/com.fulcrologic
.clj-kondo/com.wsscode
.clj-kondo/funcool
.clj-kondo/rewrite-clj
.clj-kondo/taoensso
.lsp/.cache
data/OAGIS
resources/databases

node_modules/
.shadow-cljs/
node_modules/
package-lock.json
resources/public/js/

data/schema
data/testing/old
data/testing/messages
data/testing/spreadsheets
graphs/