*~
*.iml
*.log
*.sw?
*.swp
*jar
.DS_Store
.cljs_rhino_repl
.idea
.nrepl*
.nrepl-port
.repl
checkouts
classes
compiled
out
resources/database
target
.cpcache
.clj-kondo/.cache
.clj-kondo/babashka
.clj-kondo/com.fulcrologic
.clj-kondo/com.wsscode
.clj-kondo/funcool
.clj-kondo/lilactown
.clj-kondo/metosin
.clj-kondo/rewrite-clj
.clj-kondo/taoensso
.lsp/.cache
data/OAGIS
data/testing/elena
databases
resources/databases
resources/js
public/js

node_modules/
.shadow-cljs/
node_modules/
resources/public/js/

data/schema
data/testing/old
data/testing/messages
data/testing/spreadsheets
graphs/
Dockerfile.keep
data/key-pairs.edn
data/secret-keys.edn
data/secret-keys.edn
etc