{:paths   ["src"]

 :deps    {com.cemerick/url               {:mvn/version "0.1.1"}
           com.taoensso/timbre            {:mvn/version "5.2.1"}
           com.wsscode/pathom3            {:mvn/version "2022.07.08-alpha"}
           dk.ative/docjure               {:mvn/version "1.17.0"} ; spreadsheets
           io.replikativ/datahike         {:mvn/version "0.5.1506"}
           ;org.babashka/sci               {:mvn/version "0.3.4"} ; someday soon?
           org.clojure/clojure            {:mvn/version "1.11.1"}
           org.clojure/data.zip           {:mvn/version "1.0.0"}
           org.clojure/data.json          {:mvn/version "2.4.0"}
           org.clojure/data.xml           {:mvn/version "0.2.0-alpha6"}}

 :aliases {:dev {:extra-paths ["src/devl"]
                 :extra-deps {com.github.pdenno/owl-db-tools {:mvn/version "1.0.42"}}} ; clj -A:dev, for example. (in .dir-locals.el)

           :test {:extra-paths ["test"]
                  :extra-deps  {lambdaisland/kaocha {:mvn/version "1.68.1059"}
                                com.github.pdenno/owl-db-tools {:mvn/version "1.0.42"}}}

           :deploy {:replace-deps {slipset/deps-deploy {:mvn/version "0.2.0"}}
                    :exec-fn deps-deploy.deps-deploy/deploy
                    :exec-args {:installer :remote
                                :sign-releases? false ; signing problem (see mznp deps.edn)
                                :artifact "RADmapper-1.0.29.jar"}}}}
