{:deps true
 :builds
 {:test-kaocha {:target    :browser-test
                :runner-ns kaocha.cljs2.shadow-runner
                :test-dir  "target/kaocha-test"
                :ns-regexp ".*-test$"
                :compiler-options {:externs ["datascript/externs.js"]}
                :devtools {:http-port 1818
                           :http-root "target/kaocha-test"
                           :preloads [lambdaisland.chui.remote]}}}}
