;;; Only :light-client and :kaocha-test have been used much.
{:deps {:aliases [:test-cljs]}
 :nrepl {:port 7004} ; exerciser uses 7002.
 #_#_:dev-http {8000 "resources/public"}
 :builds
 {:lib-dev {:target :browser
            :output-dir "resources/public/js"
            :compiler-options {:externs ["datascript/externs.js"]}
            :modules  {:app {:init-fn dev.dutil/start}} ; Ideally would be rad-mapper.evaluate/start, but then dev.dutil isn't loaded!...
            :devtools {:after-load dev.dutil/reload}}   ; ... LATER: Even with these, sometimes it doesn't load  dev.dutil NS.

  :lib     {:target :node-library
            :output-to "lib.js"
            :exports-vars rad-mapper.rewrite/processRad
            :compiler-options {:externs ["datascript/externs.js"]}}

  :light-client {:target :browser
                 :output-dir "resources/public/js"
                 :asset-path "/js"
                 :compiler-options {:externs ["datascript/externs.js"]}
                 :modules  {:app {:entries [rad-mapper.app.core] ; creates app.js owing to key :app.
                                  :init-fn rad-mapper.app.core/mount-root}}
                 :devtools {:after-load rad-mapper.app.core/mount-root}}

  :kaocha-test {:target           :browser-test
                :test-dir         "target/kaocha-test"
                :runner-ns        kaocha.cljs2.shadow-runner
                :ns-regexp        ".*-test$"
                :compiler-options {:externs ["datascript/externs.js"]}
                :devtools         {:http-port 1818
                                   :http-root "target/kaocha-test"
                                   :after-load dev.dutil/reload ; I'm guessing.
                                   :preloads [lambdaisland.chui.remote]}}

  :script   {:target :node-script
             :source-map true                          ; Default anyway?
             :source-map-include-sources-content true  ; Default anyway?
             :source-map-detail-level :all             ; Not default.
             :main dev.script/main
             :output-to "out/demo-script/script.js"
             :devtools {:before-load-async dev.script/stop
                        :after-load dev.script/start}}}}
