{:deps {:aliases [:test-cljs]}
 :nrepl {:port 7004} ; exerciser uses 7002
 :dev-http {8000 "resources/public"}
 :builds
 {:lib-dev {:target :browser
            :output-dir "resources/public/js"
            :compiler-options {:externs ["datascript/externs.js"]}
            :modules  {:app {:init-fn dev.dutil/start}} ; Ideally would be rad-mapper.evaluate/start, but then dutil isn't loaded!
            :devtools {:after-load dev.dutil/reload}}

  :lib     {:target :node-library
            :output-to "lib.js"
            :exports-vars rad-mapper.rewrite/processRad
            :compiler-options {:externs ["datascript/externs.js"]}}

  :kaocha-test {:target           :browser-test
                :runner-ns        kaocha.cljs2.shadow-runner
                :test-dir         "target/kaocha-test"
                :ns-regexp        ".*-test$"
                :compiler-options {:externs ["datascript/externs.js"]}
                :devtools         {:http-port 1818
                                   :http-root "target/kaocha-test"
                                   :after-load dev.dutil/reload ; I'm guessing.
                                   :preloads [lambdaisland.chui.remote]}}}}
