;;; https://github.com/borkdude/clj-kondo/blob/master/doc/config.md
{:project-root-uri "file:///home/msid/pdenno/Documents/git/RADmapper"
 :lint-as {com.wsscode.pathom.connect/defmutation            clj-kondo.lint-as/def-catch-all
           com.wsscode.pathom.connect/defresolver            clj-kondo.lint-as/def-catch-all
           com.wsscode.pathom3.connect.operation/defmutation clojure.core/defn
           com.wsscode.pathom3.connect.operation/defresolver clojure.core/defn
           com.wsscode.pathom3.plugin/defplugin              clojure.core/def
           com.wsscode.promesa.macros/clet                   clojure.core/let
           com.wsscode.promesa.macros/ctry                   clojure.core/try
           mount.core/defstate                               clj-kondo.lint-as/def-catch-all
           rad-mapper.builtin/defn$                          clojure.core/defn
           rad-mapper.builtin/defn*                          clojure.core/defn #_clj-kondo.lint-as/def-catch-all #_clojure.core/defmacro #_clj-kondo.lint-as/def-catch-all ; Nothing works!
           rad-mapper.builtin/init-step                      clojure.core/defmacro
           rad-mapper.builtin/init-step-m                    clojure.core/defmacro
           rad-mapper.builtin/map-step                       clojure.core/defmacro
           rad-mapper.builtin/map-step-m                     clojure.core/defmacro
           rad-mapper.builtin/primary                        clojure.core/defmacro
           rad-mapper.builtin/primary-m                      clojure.core/defmacro
           rad-mapper.data-util.macros/defparse              clojure.core/defn
           rad-mapper.parse/defparse                         clojure.core/defmethod
           rad-mapper.rewrite/defrewrite                     clojure.core/defn
           rad-mapper.rwast-macros/defrwast                  clojure.core/defn}}
