;;; https://github.com/borkdude/clj-kondo/blob/master/doc/config.md
{:lint-as {pdenno.rad-mapper.builtins/defn*      clojure.core/defn
           pdenno.rad-mapper.parse/defparse      clojure.core/defn
           pdenno.rad-mapper.rewrite/defrewrite  clojure.core/defn}}

